<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>spheweb Manhattan plot</title>
</head>

<body>
    <div id="manhattan_plot_container"></div>
    <div id="variants_table_container"></div>

    <script src="vendor/d3.min.js"></script>
    <script src="vendor/d3-tip.min.js"></script>
    <script src="vendor/underscore-min.js"></script>
    <script src="spheweb.js"></script>
    <script>
        // Data is inlined at build time; the shared renderer lives in spheweb.js.
        var data = {{ data | tojson }};
        window.spheweb.renderManhattan("manhattan_plot_container", data);
    </script>
</body>

</html>
